 #ME{
				display: block;
				margin-right: auto;
				margin-left: auto;
				position: relative;
				top: 50px;
				width: 300px;
				height:350px;
			}
			#ME:hover{
			transition: 0.5s;
            		transform: scale(1.1, 1.1);
			}
			#BG{
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 600px;
				z-index: -1;
			}
			nav{
				position: absolute;
				top: 35px;
				right: 25px;
			}
			#chN{
				color: white;
				-webkit-text-stroke: 0.5px black;
				font-family: "微軟正黑體";
				font-size: 45px;
				font-weight: bolder;
				text-align: center;
				position: relative;
				top: 25px;
			}
			#enN{
				font-style: italic;
				color: #b3b3b3;
				font-size: 20px;
				text-align: center;
				z-index: 2;
			}
			.select{
                color: #f7f7f7;
                font-size: 21px;
                font-weight: bolder;
			    margin: 15px;
			    text-decoration: none;
			}
			.select:visited{
				text-decoration: none;
			}
			.select:hover{
				color: white;
				font-size: 22px;
				transition: 0.5s;
				text-decoration: none;
			}
			#banner{
				text-align: center;
				margin-top: 200px;
			}
			#intro{
				color: gray;
				font-family: 微軟正黑體;
				font-weight: bolder;
			}
			#AM{
				text-align: center;
				margin-top: 120px;
			}
			#DivMyPic{
                		position: relative;
                		left: 0px;
			}
			#DivSelfIntro{
              			position: relative;
				-webkit-filter:opacity(0%);
				z-index: -1;
			}
			#MyPic{
				height: 300px;
				width: 450px;
				position: relative;
			}
			#SelfIntro{
				font-family: 微軟正黑體;
				color:#CD5C5C;
				font-weight: bold;
				position: absolute;
				top: -210px;
				left: 50%;
				z-index: -1;
				text-shadow:2px 2px #FFEBCD;
			}
			#DivMyPic:hover{
				position: relative;
				left: -250px;
				transition: 0.5s;
				
			}
			#DivMyPic:hover + #DivSelfIntro{
				-webkit-filter:opacity(100%);
				transition: 0.5s;
			}
            		#BgBg{
            		background: #BC8F8F;
               		width: 700px;
            		border-radius: 50px;
            		display: block;
            		margin-right: auto;
            		margin-left: auto;
            		margin-bottom: 70px;
            		margin-top: 100px;
            	
            }
            #DivBackgroundTable{
            	position: relative;
            	top:-20px;
            }
            #BackgroundTable{
            	margin-left: auto;
            	margin-right: auto;
            }
            #selfie{
            	margin-right: 100px;
            	margin-left: 50px;
            }
            #selfie:hover{
            	
		border-radius:50%
            }
            #school{
            	font-family: 微軟正黑體;
            	font-weight: bolder;
            	margin-right: 100px;
            	margin-left: 100px;
            }
            #ClubTable{
            	margin-left: auto;
            	margin-right: auto;
            }
            #dance{
            	width: 300px;
            	height: 200px;
            	margin-right: 100px;
	
            #danceWord{
            	font-family: 微軟正黑體;		
		font-color:white;
            }
            #danceWord1{
            	color: #BC8F8F ;
            	font-weight: bold;
		font-color:#FFFFFF;

            }
            #ClubBg{
            	margin-bottom: 100px;
            	background: #A52A2A;
                width: 958px;
            	height: 320px;
            	border-radius: 50px;
            	display: block;
            	margin-right: auto;
            	margin-left: auto;
            	
            }
            #InterestBg{
            	background: #A0522D ;
                width: 958px;
            	height: 680px;
            	border-radius: 50px; 
            	display: block;
            	margin-right: auto;
            	margin-left: auto;
            	margin-bottom: 100px;
            	border:3px #A0522D dashed;
            }
            #InterestTable{
            	margin-left: auto;
            	margin-right: auto;
            }
            .InterestScale{
                margin-right: 30px;
                margin-left: 30px;
            }
            .InterestScale:hover{
                transition: 0.5s;
                transform: scale(1.2, 1.2);
            }
            #InterestTitle{
            	font-family: 微軟正黑體;
            	position: relative;
            	top:10px;
            }
            #DrumMe{
            	width: 300px;
            	height: 200px;
            	margin-left: 50px;
            	margin-right: 80px;
            }
            #InterestTitle2{
            	font-family: 微軟正黑體;
            	position: relative;
            	top: 8px;
            	left: 6px;
            }
            #InterestTitle3{
            	font-family: 微軟正黑體;
            	position: relative;
            	top: 8px;
            }
            #InterestTitle4{
            	font-family: 微軟正黑體;
            	position: relative;
            	top: 8px;
            }
            #camera{
            	position: relative;
            }
            #CameraMe{
            	width: 300px;
            	height: 200px;
            	margin-left: 50px;
            }
            #movie{
            	font-family: 微軟正黑體;
            }
            #ZJJ{
            	margin-right: 50px;
            }
            #iframeTable{
            	margin-left: auto;
            	margin-right: auto;
            }
            #GoalBG{
            	background: #BC8F8F;
                width: 800px;
            	height: 250px;
            	border-radius: 50px; 
            	display: block;
            	margin-right: auto;
            	margin-left: auto;
            	margin-bottom: 100px;
		
            }
            #DivGoalTable{
            	position: relative;
            	top: -50px;
            	left: 50px;
            }
            #GoalTable{
            	margin-left: auto;
            	margin-right: auto;
            }
            #flag{
            	position: absolute;
            	top: 70px;
            	left: 0px;
            }
            #flag:hover{
            	transform: scale(1.1, 1.1);
            	transition: 0.5s;
            }
            #ul1{
            	font-family: 微軟正黑體;
            	font-weight: bold;
            	color: white;
            }
            #ul2{
            	font-family: 微軟正黑體;
            	font-weight: bold;
            	color: white;
            }
            #ul3{
            	font-family: 微軟正黑體;
            	font-weight: bold;
            	color: white;
            }
            #d1{
            	-webkit-filter:opacity(0%);
            }
            #d2{
            	-webkit-filter:opacity(0%);
            }
            #d3{
            	-webkit-filter:opacity(0%);
            }
            #ul1:hover{
                transition: 0.5s;
                font-size: 15px;
            }
            #ul1:hover #d1{
                -webkit-filter:opacity(100%);
                transition: 2s;
            }
            #ul2:hover{
                transition: 0.5s;
                font-size: 15px;
            }
            #ul2:hover #d2{
                -webkit-filter:opacity(100%);
                transition: 0.5s;
            }
            #ul3:hover{
                transition: 0.5s;
                font-size: 15px;
            }
            #ul3:hover #d3{
                -webkit-filter:opacity(100%);
                transition: 0.5s;
            }
            .dart{
            	width: 50px;
            	height: 50px;
            	position: relative;
            	top: 10px;
            }
            #HopeBG{
            	background: #BC8F8F;
                width: 800px;
            	height: 280px;
            	border-radius: 50px; 
            	display: block;
            	margin-right: auto;
            	margin-left: auto;
            	margin-bottom: 50px;
		
            
            }
            #HopeTable{
            	margin-right: auto;
            	margin-left: auto;
            }
            #HopeIcon{
            	margin-right: 30px;
            }
            #HopeIcon:hover{
            	transform: scale(1.1, 1.1);
            	transition: 0.5s;
            }
            #HopeWord{
            	font-family: 微軟正黑體;
            	font-weight: bolder;
            	color: white;
            }
            #MyLifeTable{
                margin-left: auto;
            	margin-right: auto;
            }
            .DivMLP{
            	position: relative;
		img {  
  		max-height: 100%;  
 		max-width: 100%; 
		width: auto;
                height: auto;
    		position: absolute;  
 		top: 0;  
    		bottom: 0;  
   		left: 0;  
   		right: 0;  
 	        margin: auto;
	    }
		
            }
            #MLP1, #MLP2, #MLP3, #MLP4, #MLP5, #MLP6{
            	-webkit-filter:brightness(100%);
		 height: 220px; /*can be anything*/
    		 width: 220px; /*can be anything*/
    		 position: relative;
		 border: 10px solid transparent;
  		 padding: 15px;
		 border-image: url(../photo/邊框.jpg) 20 round;
            }
            #MLP1Word{
            	color: white;
            	font-size: 20px;
            	position: absolute;
            	top: 85px;
            	left: 100px;
            	-webkit-filter:opacity(0%);
            }
            #MLP1:hover{
            	-webkit-filter:brightness(50%);
            	transform: scale(1.1, 1.1);
            	transition: 0.5s;
            }
            #MLP1:hover + #MLP1Word{
                -webkit-filter:opacity(100%);
            }
            #MLP2Word{
            	color: white;
            	font-size: 20px;
            	position: absolute;
            	top: 85px;
            	left: 100px;
            	-webkit-filter:opacity(0%);
            }
            #MLP2:hover{
            	-webkit-filter:brightness(50%);
            	transform: scale(1.1, 1.1);
            	transition: 0.5s;
            }
            #MLP2:hover + #MLP2Word{
                -webkit-filter:opacity(100%);
            }
 	   

            #MLP3Word{
            	color: white;
            	font-size: 20px;
            	position: absolute;
            	top: 85px;
            	left: 100px;
            	-webkit-filter:opacity(0%);
            }
            #MLP3:hover{
            	-webkit-filter:brightness(50%);
            	transform: scale(1.1, 1.1);
            	transition: 0.5s;
            }
            #MLP3:hover + #MLP3Word{
                -webkit-filter:opacity(100%);
            }
            #MLP4Word{
            	color: white;
            	font-size: 20px;
            	position: absolute;
            	top: 90px;
            	left: 100px;
            	-webkit-filter:opacity(0%);
            }
            #MLP4:hover{
            	-webkit-filter:brightness(50%);
            	transform: scale(1.1, 1.1);
            	transition: 0.5s;
            }
            #MLP4:hover + #MLP4Word{
                -webkit-filter:opacity(100%);
            }
            #MLP5Word{
            	color: white;
            	font-size: 20px;
            	position: absolute;
            	top: 90px;
            	left: 100px;
            	-webkit-filter:opacity(0%);
            }
            #MLP5:hover{
            	-webkit-filter:brightness(50%);
            	transform: scale(1.1, 1.1);
            	transition: 0.5s;
            }
            #MLP5:hover + #MLP5Word{
                -webkit-filter:opacity(100%);
            }
            #MLP6Word{
            	color: white;
            	font-size: 20px;
            	position: absolute;
            	top: 90px;
            	left: 100px;
            	-webkit-filter:opacity(0%);
            }
            #MLP6:hover{
            	-webkit-filter:brightness(50%);
            	transform: scale(1.1, 1.1);
            	transition: 0.5s;
            }
            #MLP6:hover + #MLP6Word{
                -webkit-filter:opacity(100%);
            }
            .MyLifePic{
            	width: 270px;
            	height: 180px;
            	margin-bottom: 20px;
            }
            .MyLifePic1{
            	width: 270px;
            	height: 202.4px;
            }
            .MyLifePic{
            	margin-left: 20px;
            	margin-right: 20px;
            }
            .MyLifePic1{
            	margin-left: 20px;
            	margin-right: 20px;
            }
            #side{
            	z-index: 0;
            	background: lightgray;
            	height: 240px;
            	width: 80px;
            	position: fixed;
            	top: 80px;
            	left: 0px;
            }
            #fb{
                width: 50px;
                height: 50px;
                position: relative;
                top: 20px;
                left: 15px;
            }
            #ig{
                width: 50px;
                height: 50px;
                position: relative;
                top: 40px;
                left: 15px;
            }
            #flickr{
            	width: 50px;
                height: 50px;
                position: relative;
                top: 60px;
                left: 15px;
            }
			footer{
				background: #FFF5EE;
				width: 100%;
				height: 100px;
				margin-top: 150px;
				position: relative;
			}
			#copyright{
				text-align: center;
				font-weight: bolder;
				position: relative;
				top: 32px;
			}
			.icon{
				display: block;
				margin-left: auto;
				margin-right: auto;
				height: 100px;
				width: 100px;
				position: relative;
				left: 5px;
			}
			.icon1{
				display: block;
				margin-left: auto;
				margin-right: auto;
				height: 150px;
				width: 150px;
				position: relative;
				left: 5px;
			}
}